<div class="container">
    <h1>About The Author</h1>
    <img src="https://mystufftoshare.s3.amazonaws.com/fam.jpg" alt="the-fam" id="fam" class="rounded-corners">

    <p>
        Hello and thanks for reading! I guess I'll give a quick autobiography about myself and what
        brought me here to the OSU computer science program.
    </p>
</div>