<div class="container">
    <h1>About The Author</h1>
    <img src="https://mystufftoshare.s3.amazonaws.com/fam.jpg" alt="the-fam" id="fam" class="rounded-corners">

    <article>
        <p> Hello and thanks for reading! I guess I'll give a quick autobiography about myself and what
        brought me here to the OSU computer science program.</p>

        <p>In 2015 after a decade in law enforcement and during my paternity leave for my second child
        I enrolled in an 8 week coding bootcamp to learn the basics of web development (primarily
        back end development, as you can see from this site...), and in 2016 I landed my first full
        time position as a developer at a smaller startup in the Seattle area.</p>

        <p>In 2019 I moved the family to SW Washington and took a job as a developer at a semi-recently
        acquired startup in Portland, OR. One of the benefits of working for a larger corporation
        was tuition reimbursement, so late in 2019 I took my first class here at OSU E-Campus with
        the goal of back-filling a lot of computer science knowledge that I missed by going the
        bootcamp route.</p>

        <p>So far I've been having a blast doing schoolwork on evenings and weekends and look forward
        to completing the program sometime in the next couple years!</p>
    </article>
</div>