/* Variables */
:root {
    --roundness: 25px;
    --max-width: 75%;
    --buffer-space: 20px;
}

/* General Styles */
body {
    background-color: #ADADAD;
    text-align: center;
}

h1 {
    margin-top: var(--buffer-space);
}

.rounded-corners {
    border-radius: var(--roundness);
}

.container {
    max-width: var(--max-width);
}

/* Main Page */
.carousel-item {
    margin-top: var(--buffer-space);
}
.carousel-item > img {
    max-width: 100%;
    height: auto;
    border-radius: var(--roundness);
}

.carousel-item > a {
    font-size: 20px;
}

/* About Page */
#fam {
    margin-top: var(--buffer-space);
    max-width: 60%;
    height: auto;
}